# DATABASE CONNECTION URI
MONOG_DB_URI="connection string"


# SECRETS FOR GENERATING JWT TOKENS
ACCESS_SECRET="secret"
REFRESH_SECRET="secret"


# EXPIRATION TIME FOR JWT TOKENS
ACCESS_EXPIRATION="30000"
REFRESH_EXPIRATION="30000"


# RABBITMQ CONNECTION URI
RABBIT_MQ_URI="connection string"